@model IEnumerable<WyszukiwarkaLotówDR.Baza_danych.Sprzedaz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klient.PESEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klient.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IloscBiletow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Klient.PESEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Klient.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IloscBiletow)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
